################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApi/obj/Debug/net8.0/TestApi.AssemblyInfo.cs
/.vs/TestApi/FileContentIndex/cd6731ae-82c4-4c64-9c26-d0198ce60651.vsidx
/TestApi/obj/Debug/net8.0/TestApi.AssemblyInfoInputs.cache
*.vsidx
/TestApi/obj/Debug/net8.0/apphost.exe
/TestApi/obj/Debug/net8.0/TestApi.GeneratedMSBuildEditorConfig.editorconfig
/TestApi/obj/Debug/net8.0/TestApi.csproj.AssemblyReference.cache
/TestApi/obj/Debug/net8.0/TestApi.assets.cache
/.vs
/TestApi/bin/Debug/net8.0
/TestApi/Filelogs
/TestApi/Migrations
/TestApi/obj
/TestApi.Tests/bin/Debug/net8.0
/TestApi.Tests/obj
